<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="stylesheet" type="text/css" th:href="@{/css/admin/H-ui.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/admin/H-ui.admin.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/admin/iconfont.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/admin/skin.css}" id="skin" />
<link rel="stylesheet" type="text/css" th:href="@{/css/admin/style.css}" />
<title>添加分类</title>
</head>
<body>
<article class="page-container">
	<form th:action="@{/classify/create}" class="form form-horizontal">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">试卷名：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="name" th:name="name">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">所选分类：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select class="select" th:name="classify">
					<option value="">选择分类</option>
					<span th:each="classify : ${classify}">
	        		<option th:each="son : ${classify?.classifys}" th:value="${son.id}" th:text="${son.name}"></option>
					</span>
				</select>
				</span> </div>
		</div>
		<div class="row cl show">
			<label class="form-label col-xs-4 col-sm-3">选择题目类型：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<div class="box">	
					<label class=""><input class="check" type="checkbox" value="" name="user-Character-0-0" >
					选择题</label>
					<div class="content" style="display:none;">
						填写此题型<input style="width:150px;" type="number"  onkeyup="checkNum(this,this.value)" class="input-text  Qtype" id="" value="" placeholder="" th:name="name">道
					</div>
				</div>
				<div class="box">	
					<label class=""><input class="check" type="checkbox" value="" name="user-Character-0-0" id="user-Character-0-0">
					判断题</label>
					<div class="content" style="display:none;">
						填写此题型<input style="width:150px;" type="number"  onkeyup="checkNum2(this,this.value)" class="input-text Qtype" value="" placeholder="" th:name="name">道
					</div>
				</div>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<button class="btn btn-primary radius" name="submit_add" type="button"> 提交</button>
			</div>
		</div>
	</form>
</article>
<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/layer.js}"></script>
<script type="text/javascript" th:src="@{/js/H-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/H-ui.admin.js}"></script>
<script type="text/javascript">
$(document).on("click", "[name='submit_add']", function() {
    var form = $(this).parents("form");
    $.post(form.attr("action"),  form.serialize(), function(json) {
    	console.log(json.result); 
        if (json.result == "success") {
        	console.log(json);
         	setTimeout(function(){
         		window.parent.location.reload();
             	layer_close();
            },1000);
        } else {
            $.each(json, function(i, val) {
            	if (i != "result") {
                    if ($("[data-error='" + i + "']").length)
                        $("[data-error='" + i + "']").html(val);
                }
            });
        }
    }, "json");
});
var indexs=0;
$(document).on("click", ".check", function() {
	if($(this).prop("checked")){    //如果当前的复选框是选中状态
		indexs=$(".check").index($(this));    //复选框的当前索引值
		$(".content").eq(indexs).show();    //与复选框索引值相同的content显示
	}
	else{    //如果当前的复选框没有被选中
		indexs=$(".check").index($(this));
		$(".content").eq(indexs).hide();    //与复选框索引值相同的content隐藏
	}
});

function checkNum(n,val) {	
	if (~~val > $('.Qtype:eq(0)').attr("max")) {
		$(n).val($('.Qtype:eq(0)').attr("max"));
	} else if (val < 0) {
		$(n).val($('.Qtype:eq(0)').attr("max"));
	}
}

function checkNum2(n,val) {	
	if (~~val > $('.Qtype:eq(1)').attr("max")) {
		$(n).val($('.Qtype:eq(1)').attr("max"));
	} else if (val < 0) {
		$(n).val($('.Qtype:eq(1)').attr("max"));
	} 
}


$(".select").change(function(){
	//alert($(".select option:selected").attr("value"));
	$.ajax({
		type: 'POST',
		url: '/info/'+$(".select option:selected").attr("value"),
		dataType: 'json',
		success: function(data){
			$('.Qtype:eq(0)').attr("placeholder","最多填写"+data[0]+"道");
			$('.Qtype:eq(1)').attr("placeholder","最多填写"+data[1]+"道");
			$('.Qtype:eq(0)').attr("max",data[0]);
			$('.Qtype:eq(1)').attr("max",data[1]);
			console.log(data);
		},
		error:function(data) {
			console.log(data.msg);
		},
	});		
});
</script>
</body>
</html>