<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="stylesheet" type="text/css" th:href="@{/css/admin/H-ui.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/admin/H-ui.admin.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/admin/iconfont.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/admin/skin.css}" id="skin" />
<link rel="stylesheet" type="text/css" th:href="@{/css/admin/style.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
<title>添加试题</title>
</head>
<body>
<article class="page-container">
	<form th:action="@{/subject/create}" class="form form-horizontal">
		<div class="all">
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3">题目内容：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text" placeholder="此处填写题目信息  注意不能为空..." name="subjectDto[0].question">
					<span class="c-red" data-error="subjectDto[0].question"></span>
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3">标签：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text" placeholder="关键词请用标点符号隔开..." name="subjectDto[0].question_tag">
				</div>
			</div>
			<div class="row cl" id="questionTypes">
				<label class="form-label col-xs-4 col-sm-3">题目类型：</label>
				<div class="formControls col-xs-8 col-sm-9"> 
					<span class="select-box">
						<select class="select questions" name="subjectDto[0].question_type" data-index="0">
							<option value="">请选择题目类型</option>
							<option value="选择题">选择题</option>
		        			<option value="判断题">判断题</option>
						</select>
					</span> 
					<span class="c-red" data-error="subjectDto[0].question_type"></span>
				</div>
			</div>
			<div class="row cl" id="choose0" style="display:none;">
				<label class="form-label col-xs-4 col-sm-3">选项 A：</label>
				<div class="formControls col-xs-8 col-sm-9 margin_bottom_five">
					<input type="text" class="input-text" placeholder="必须填写 最少填写两个选项..." name="subjectDto[0].options[0]">
				</div>
				<label class="form-label col-xs-4 col-sm-3">选项 B：</label>
				<div class="formControls col-xs-8 col-sm-9 margin_bottom_five">
					<input type="text" class="input-text" placeholder="必须填写 最少填写两个选项..." name="subjectDto[0].options[1]">
				</div>
				<label class="form-label col-xs-4 col-sm-3">选项 C：</label>
				<div class="formControls col-xs-8 col-sm-9 margin_bottom_five">
					<input type="text" class="input-text" placeholder="必须填写 最少填写两个选项..." name="subjectDto[0].options[2]">
				</div>
				<label class="form-label col-xs-4 col-sm-3">选项 D：</label>
				<div class="formControls col-xs-8 col-sm-9 margin_bottom_five">
					<input type="text" class="input-text" placeholder="必须填写 最少填写两个选项..." name="subjectDto[0].options[3]">
				</div>
				<span class="c-red error_red_center" data-error="subjectDto[0].options"></span>
				<div class="margin_bottom_five">
					<label class="form-label col-xs-4 col-sm-3">正确答案：</label>
					<div class="formControls col-xs-8 col-sm-9 skin-minimal">
						<div class="radio-box">
							<input name="subjectDto[0].rightKey" type="radio" id="A0" value="A" disabled>
							<label for="sex-1">A</label>
						</div>
						<div class="radio-box">
							<input name="subjectDto[0].rightKey" type="radio" id="B0" value="B" disabled>
							<label for="sex-1">B</label>
						</div>
						<div class="radio-box">
							<input name="subjectDto[0].rightKey" type="radio" id="C0" value="C" disabled>
							<label for="sex-1">C</label>
						</div>
						<div class="radio-box">
							<input name="subjectDto[0].rightKey" type="radio" id="D0" value="D" disabled>
							<label for="sex-1">D</label>
						</div>
						<span class="c-red" data-error="subjectDto[0].rightKey"></span>
					</div>
				</div>
			</div>
			<div class="row cl" id="determine0" style="display:none;">
				<label class="form-label col-xs-4 col-sm-3">判断：</label>
				<div class="formControls col-xs-8 col-sm-9">
				<span class="select-box" style="width:150px;">
					<select class="select" name="subjectDto[0].rightKey">
					<option value="">-请选择--</option>
	        		<option value="正确">正确</option>
	        		<option value="错误">错误</option>
					</select>
				</span>
				<span class="c-red" data-error="subjectDto[0].rightKey"></span>
				</div>
			</div>
			<input class="check" style="display:none;" name="subjectDto[0].options[0]" type="checkbox" value="正确"></input>
			<input class="check" style="display:none;" name="subjectDto[0].options[1]" type="checkbox" value="错误"></input>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">选择分类：</label>
			<div class="formControls col-xs-8 col-sm-9">
			<span class="select-box" style="width:150px;">
				<select class="select" name="classify">
				<span th:each="classify : ${classify}">
        		<option th:each="son : ${classify?.classifys}" th:value="${son.id}" th:text="${son.name}"></option>
				</span>
				</select>
			</span>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<button class="btn btn-primary radius" name="submit_new" type="button" style="display:none;">删除上一道</button>
				<button class="btn btn-primary radius" name="submit_new" type="button">增加下一道</button>
				<button class="btn btn-primary radius" name="submit_add" type="button">提交</button>
			</div>
		</div>
	</form>
</article>
<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/layer.js}"></script>
<script type="text/javascript" th:src="@{/js/H-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/H-ui.admin.js}"></script>
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
});
var i = 0;
function serializeNotNull(serStr){
    return serStr.split("&").filter(function(str){return !str.endsWith("=")}).join("&");
}
$(document).on("click", "[name='submit_add']", function() {
    var form = $(this).parents("form");
    $.post(form.attr("action"), serializeNotNull(form.serialize()), function(json) {
    	//console.log( form.serialize());
        if (json.result == "success") {
        	//console.log(json); 
        	setTimeout(function(){
        		window.parent.location.reload();
             	layer_close();
             },1000); 
        } else {
        	$("[data-error^='subjectDto']").html("");
            $.each(json, function(i, val) {
            	if (i != "result") {
                    if ($("[data-error='" + i + "']").length)
                        $("[data-error='" + i + "']").html(val);
                    else 
                    	$("[data-error^='" + i + "']").html(val);
                }
            });
        }
    }, "json");
});
$("[name='subjectDto[0].options[0]']").bind('input propertychange', function() {
	document.getElementById("A0").disabled=false;
});
$("[name='subjectDto[0].options[1]']").bind('input propertychange', function() {
	document.getElementById("B0").disabled=false;
});
$("[name='subjectDto[0].options[2]']").bind('input propertychange', function() {
	document.getElementById("C0").disabled=false;
});
$("[name='subjectDto[0].options[3]']").bind('input propertychange', function() {
	document.getElementById("D0").disabled=false;
});
$("[name='subjectDto[0].options[0]']").blur(function () {  
    if($(this).val()==''){
    	document.getElementById("A0").disabled=true;
    }  
});
$("[name='subjectDto[0].options[1]']").blur(function () {  
    if($(this).val()==''){
    	document.getElementById("B0").disabled=true;
    }  
});
$("[name='subjectDto[0].options[2]']").blur(function () {  
    if($(this).val()==''){
    	document.getElementById("C0").disabled=true;
    }  
});
$("[name='subjectDto[0].options[3]']").blur(function () {  
    if($(this).val()==''){
    	document.getElementById("D0").disabled=true;
    }  
});
var map={"选择题":"choose", "判断题":"determine"}

$(document).on("change",".questions",function(){
	if($(this).val() == "判断题"){
		$("input[name='subjectDto["+ i +"].options[0]']").prop("checked", true);
		$("input[name='subjectDto["+ i +"].options[1]']").prop("checked", true);
	}
	  
	var index = $(this).data("index");
	for(var item in map){  
		var jValue=map[item];
        if(item==this.value){  //item 表示Json串中的属性，如'name'  
            //key所对应的value  
            $("#" + jValue + index).show();
        }else{
            $("#" + jValue + index).hide();
        }  
    }  
});
$(document).ready(function(){
	$("[name='submit_new']").click(function(){
		i++;
		var t = i;
		$(".all").append("<br><div class='row cl'>"+
			"<label class='form-label col-xs-4 col-sm-3'>题目内容：</label>"+
			"<div class='formControls col-xs-8 col-sm-9'>"+
				"<input type='text' class='input-text' placeholder='此处填写题目信息  注意不能为空...' name='subjectDto["+ i +"].question'>"+
				"<span class='c-red' data-error='subjectDto["+ i +"].question'></span>"+
			"</div>"+
		"</div>"+
		"<div class='row cl'>"+
			"<label class='form-label col-xs-4 col-sm-3'>标签：</label>"+
			"<div class='formControls col-xs-8 col-sm-9'>"+
				"<input type='text' class='input-text' placeholder='关键词请用标点符号隔开...' name='subjectDto["+ i +"].question_tag'>"+
			"</div>"+
		"</div>"+
		"<div class='row cl' id='questionTypes'>"+
			"<label class='form-label col-xs-4 col-sm-3'>题目类型：</label>"+
			"<div class='formControls col-xs-8 col-sm-9'> "+
			"<span class='select-box'>"+
				"<select class='select questions' name='subjectDto["+ i +"].question_type' data-index='"+ i +"'>"+
					"<option value=''>请选择题目类型</option>"+
					"<option value='选择题'>选择题</option>"+
        			"<option value='判断题'>判断题</option>"+
				"</select>"+
			"</span>"+
			"<span class='c-red' data-error='subjectDto["+ i +"].question_type'></span>"+
			"</div>"+
		"</div>"+
		"<div class='row cl' id='choose"+i+"' style='display:none;'>"+
			"<label class='form-label col-xs-4 col-sm-3'>选项 A：</label>"+
			"<div class='formControls col-xs-8 col-sm-9 margin_bottom_five'>"+
				"<input type='text' class='input-text' placeholder='必须填写 最少填写两个选项...' name='subjectDto["+i+"].options[0]'>"+
			"</div>"+
			"<label class='form-label col-xs-4 col-sm-3'>选项 B：</label>"+
			"<div class='formControls col-xs-8 col-sm-9 margin_bottom_five'>"+
				"<input type='text' class='input-text' placeholder='必须填写 最少填写两个选项...' name='subjectDto["+i+"].options[1]'>"+
			"</div>"+
			"<label class='form-label col-xs-4 col-sm-3'>选项 C：</label>"+
			"<div class='formControls col-xs-8 col-sm-9 margin_bottom_five'>"+
				"<input type='text' class='input-text' placeholder='必须填写 最少填写两个选项...' name='subjectDto["+i+"].options[2]'>"+
			"</div>"+
			"<label class='form-label col-xs-4 col-sm-3'>选项 D：</label>"+
			"<div class='formControls col-xs-8 col-sm-9 margin_bottom_five'>"+
				"<input type='text' class='input-text' placeholder='必须填写 最少填写两个选项...' name='subjectDto["+i+"].options[3]'>"+
			"</div>"+
			"<span class='c-red error_red_center' data-error='subjectDto["+i+"].options'></span>"+
			"<div class='margin_bottom_five'>"+
			"<label class='form-label col-xs-4 col-sm-3'>正确答案：</label>"+
			"<div class='formControls col-xs-8 col-sm-9 skin-minimal'>"+
				"<div class='radio-box'>"+
					"<input name='subjectDto["+i+"].rightKey' type='radio' id='A"+i+"' value='A' disabled>"+
					"<label for='sex-1'>A</label>"+
				"</div>"+
				"<div class='radio-box'>"+
					"<input name='subjectDto["+i+"].rightKey' type='radio' id='B"+i+"' value='B' disabled>"+
					"<label for='sex-1'>B</label>"+
				"</div>"+
				"<div class='radio-box'>"+
					"<input name='subjectDto["+i+"].rightKey' type='radio' id='C"+i+"' value='C' disabled>"+
					"<label for='sex-1'>C</label>"+
				"</div>"+
				"<div class='radio-box'>"+
					"<input name='subjectDto["+i+"].rightKey' type='radio' id='D"+i+"' value='D' disabled>"+
					"<label for='sex-1'>D</label>"+
				"</div>"+
				"<span class='c-red' data-error='subjectDto["+i+"].rightKey'></span>"+
			"</div>"+"</div>"+
		"</div>"+
		"<div class='row cl' id='determine"+i+"' style='display:none;'>"+
			"<label class='form-label col-xs-4 col-sm-3'>判断：</label>"+
			"<div class='formControls col-xs-8 col-sm-9'>"+
			"<span class='select-box' style='width:150px;'>"+
				"<select class='select' name='subjectDto["+i+"].rightKey'>"+
				"<option value=''>-请选择--</option>"+
        		"<option value='正确'>正确</option>"+
        		"<option value='错误'>错误</option>"+
				"</select>"+
			"</span>"+
			"<span class='c-red' data-error='subjectDto[0].rightKey'></span>"+
			"</div>"+
		"</div>"+
		"<input class='check' style='display:none;' name='subjectDto["+i+"].options[0]' type='checkbox' value='正确'></input>"+
		"<input class='check' style='display:none;' name='subjectDto["+i+"].options[1]' type='checkbox' value='错误'></input>");
		$("[name='subjectDto["+ t +"].options[0]']").bind('input propertychange', function() {
	    	//console.log(document.getElementById("A"+ t +""));
	    	document.getElementById("A"+ t +"").disabled=false;
	    });
	    $("[name='subjectDto["+ t +"].options[1]']").bind('input propertychange', function() {
	    	document.getElementById("B"+ t +"").disabled=false;
	    });
	    $("[name='subjectDto["+ t +"].options[2]']").bind('input propertychange', function() {
	    	document.getElementById("C"+ t +"").disabled=false;
	    });
	    $("[name='subjectDto["+ t +"].options[3]']").bind('input propertychange', function() {
	    	document.getElementById("D"+ t +"").disabled=false;
	    });
	    $("[name='subjectDto["+ t +"].options[0]']").blur(function () {  
	        if($(this).val()==''){
	        	document.getElementById("A"+ t +"").disabled=true;
	        }  
	    });
	    $("[name='subjectDto["+ t +"].options[1]']").blur(function () {  
	        if($(this).val()==''){
	        	document.getElementById("B"+ t +"").disabled=true;
	        }  
	    });
	    $("[name='subjectDto["+ t +"].options[2]']").blur(function () {  
	        if($(this).val()==''){
	        	document.getElementById("C"+ t +"").disabled=true;
	        }  
	    });
	    $("[name='subjectDto["+ t +"].options[3]']").blur(function () {  
	        if($(this).val()==''){
	        	document.getElementById("D"+ t +"").disabled=true;
	        }  
	    });
	    $('.skin-minimal input').iCheck({
			checkboxClass: 'icheckbox-blue',
			radioClass: 'iradio-blue',
			increaseArea: '20%'
		});	    
	});
});
</script>
</body>
</html>