.alertbox {
	width: 300px;
	height: 100px;
	background: #fff;
	border: 1px solid #ddd;
	z-index: 999;
	margin: -50px 0 0 -150px;
	position: fixed;
	top: 50%;
	left: 50%;
	box-shadow: 0 1px 10px #878787;
	display: none;
}

.alertbox .close {
	position: absolute;
	right: 0;
}

.tips {
	width: 100%;
	height: 100px;
	background: #BFEFFF;
}

.login-button {
	position: relative;
	float: right;
	margin: 5px 20px 5px 10px;
}

.register-button {
	position: relative;
	float: right;
	margin: 5px 20px 5px 10px;
}

.logout-button {
	position: relative;
	float: right;
	margin: 5px 20px 5px 10px;
}

.img_head {
	width: 20px;
}

.info-personal-edit {
	margin-left: 700px;
}

.body_main_div {
	width: 855px;
	margin-left: 285px;
	margin-top: -365px;
}