<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div th:each="answer : ${answer?.items}">
<a th:href="@{'/info/'+${answer?.exam_id}+'/answer/'+${answer.id}}"><h2 th:text="${answer?.exam_name}"></h2></a>
</div>
<ul class="pagination">
<li th:class="${answer?.getPage() le 1} ? disabled">
<a th:href="|?page=${answer?.getPre()}|" href="?page=1" aria-label="上一页">
<i class="material-icons">上一页</i>
</a>
</li>
<li th:each="page:${answer?.getPages()}" th:class="${answer?.getPage() == page} ? active">
<a th:href="|?page=${page}|" href="?page=1">[[${page}]]
<span class="sr-only"></span>
</a>
</li>
<li th:class="${answer?.getPage() ge answer?.getPagecount()} ? disabled">
<a th:href="|?page=${answer?.getNext()}|" href="?page=2" aria-label="下一页">
<i class="material-icons">下一页</i>
</a>
</li>
</ul>
</body>
</html>