<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:each="classifications : ${clist}">
		<ul>
			<li><a th:href="@{'/onlineExam/' + ${classifications.id} + '/start/'}" th:text="${classifications.name}+全题查看"></a></li>
			<li><a th:href="@{'/onlineExam/' + ${classifications.id} + '/startone/'}" th:text="${classifications.name}+单题查看"></a></li>
			<li><a th:href="@{'/onlineExam/' + ${classifications.id} + '/random/'}" th:text="随机抽取"></a></li>
		</ul>
	</div>
	
	<div name="subject_create">
		<form action="#" th:action="@{/subject/create}">
			<div class="all">
				<div id="topicDescription">
				题目内容：<input name="subjectDto[0].question" /><sapn data-error="subjectDto[0].question"></span><br/>
				</div>
				标签：<input name="subjectDto[0].question_tag" />
				<div id="questionTypes">
				题目类型：<select class="questions" name="subjectDto[0].question_type" data-index="0">
							<option value="">请选择题目类型</option>
							<option value="选择题">选择题</option>
        					<option value="判断题">判断题</option>
        				  	<option value="简答题">简答题</option>
					  	 </select><sapn data-error="subjectDto[0].question_type"></span><br/>
				</div>
				<div id="choose0" style="display:none;">
				选项 A：<input name="subjectDto[0].options[0]" /><br/>
				选项 B：<input name="subjectDto[0].options[1]" /><br/>
				选项 C：<input name="subjectDto[0].options[2]" /><br/>
				选项 D：<input name="subjectDto[0].options[3]" /><sapn data-error="subjectDto[0].options"></sapn><br/>
				正确答案:
				<label><input id="A0" name="subjectDto[0].rightKey" type="radio" value="A" disabled/>A</label>
				<label><input id="B0" name="subjectDto[0].rightKey" type="radio" value="B" disabled/>B</label>
				<label><input id="C0" name="subjectDto[0].rightKey" type="radio" value="C" disabled/>C </label>
				<label><input id="D0" name="subjectDto[0].rightKey" type="radio" value="D" disabled/>D</label>
				<sapn data-error="subjectDto[0].rightKey"></sapn></div>
				<div id="determine0" style="display:none;">
				判断：<select name="subjectDto[0].rightKey">
						<option value="">-请选择--</option>
        				<option value="正确">正确</option>
        				<option value="错误">错误</option>
					  </select><sapn data-error="subjectDto[0].rightKey"></sapn><br/>
				</div>
				<div id="analysis0" style="display:none;">
				答案解析：<input name="subjectDto[0].analysis" />
				</div>
				<input class="check" style="display:none;" name="subjectDto[0].options[0]" type="checkbox" value="正确"></input>
				<input class="check" style="display:none;" name="subjectDto[0].options[1]" type="checkbox" value="错误"></input>
			</div>
			<select name="classify" id="classify">
	        	<option th:each="classify : ${clist}" th:value="${classify.id}" th:text="${classify.name}">选择分类</option>
			</select>
			<div>
			<button class="btn btn-primary radius" id="submit_new" type="button">添加试题</button><br>
			<button class="btn btn-primary radius" name="submit_add" type="button"> 提交</button>
	        <input name="" type="reset" value="取消">
			</div>
		</form>
	</div>
</body>
<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script> 
function serializeNotNull(serStr){
    return serStr.split("&").filter(function(str){return !str.endsWith("=")}).join("&");
}
$(document).on("click", "[name='submit_add']", function() {
    var form = $(this).parents("form");
    $.post(form.attr("action"), serializeNotNull(form.serialize()), function(json) {
    	console.log( form.serialize());
        if (json.result == "success") {
        	console.log(json); 
        	setTimeout(function(){
             	 window.location.href = "/";
             },1000); 
        } else {
            $.each(json, function(i, val) {
            	if (i != "result") {
                    if ($("[data-error='" + i + "']").length)
                        $("[data-error='" + i + "']").html(val);
                }
            });
        }
    }, "json");
});
var i = 0;
$("[name='subjectDto[0].options[0]']").bind('input propertychange', function() {
	document.getElementById("A0").disabled=false;
});
$("[name='subjectDto[0].options[1]']").bind('input propertychange', function() {
	document.getElementById("B0").disabled=false;
});
$("[name='subjectDto[0].options[2]']").bind('input propertychange', function() {
	document.getElementById("C0").disabled=false;
});
$("[name='subjectDto[0].options[3]']").bind('input propertychange', function() {
	document.getElementById("D0").disabled=false;
});
$("[name='subjectDto[0].options[0]']").blur(function () {  
    if($(this).val()==''){
    	document.getElementById("A0").disabled=true;
    }  
});
$("[name='subjectDto[0].options[1]']").blur(function () {  
    if($(this).val()==''){
    	document.getElementById("B0").disabled=true;
    }  
});
$("[name='subjectDto[0].options[2]']").blur(function () {  
    if($(this).val()==''){
    	document.getElementById("C0").disabled=true;
    }  
});
$("[name='subjectDto[0].options[3]']").blur(function () {  
    if($(this).val()==''){
    	document.getElementById("D0").disabled=true;
    }  
});
$(document).ready(function(){
	  $("#submit_new").click(function(){
		 i++;
		 var t = i;
	    $(".all").append("<br><br><div id='topicDescription'>题目内容：<input name='subjectDto["+ i +"].question' />"+
	    		"<sapn data-error='subjectDto["+ i +"].question'></span>"+"<br/></div>"+
	    		"标签：<input name='subjectDto["+ i +"].question_tag' />"+
				"<div id='questionTypes'>题目类型：<select class='questions' data-index='"+ i +"' name='subjectDto["+ i +"].question_type'>"+
							"<option value=''>请选择题目类型</option>"+  
							"<option value='选择题'>选择题</option>"+
        					"<option value='判断题'>判断题</option>"+
        				  	"<option value='简答题'>简答题</option>"+
					  	 "</select><sapn data-error='subjectDto["+ i +"].question_type'></span><br/></div>"+
				"<div id='choose"+i+"' style='display:none;'>"+
				"选项 A：<input name='subjectDto["+ i +"].options[0]' /><br/>"+
				"选项 B：<input name='subjectDto["+ i +"].options[1]' /><br/>"+
				"选项 C：<input name='subjectDto["+ i +"].options[2]' /><br/>"+
				"选项 D：<input name='subjectDto["+ i +"].options[3]' />"+"<sapn data-error='subjectDto["+ i +"].question_type'></span>"+"<br/>"+
				"正确答案：<label><input id='A"+ i +"' name='subjectDto["+ i +"].rightKey' type='radio' value='A' disabled/>A</label>"+
				"<label><input id='B"+ i +"' name='subjectDto["+ i +"].rightKey' type='radio' value='B' disabled/>B</label>"+
				"<label><input id='C"+ i +"' name='subjectDto["+ i +"].rightKey' type='radio' value='C' disabled/>C</label>"+
				"<label><input id='D"+ i +"' name='subjectDto["+ i +"].rightKey' type='radio' value='D' disabled/>D</label>"+
				"<sapn data-error='subjectDto["+ i +"].rightKey'></sapn></div>"+
				"<div id='determine"+i+"' style='display:none;'>"+
				"判断：<select name='subjectDto["+ i +"].rightKey'>"+
						"<option value=''>-请选择--</option>"+
        				"<option value='正确'>正确</option>"+
        				"<option value='错误'>错误</option>"+
					  "</select><sapn data-error='subjectDto["+ i +"].rightKey'></sapn><br/></div>"+
				"<div id='analysis"+ i +"' style='display:none;'>"+
				"答案解析：<input name='subjectDto["+ i +"].analysis' /></div>"+
				"<input class='check' style='display:none;' name='subjectDto["+ i +"].options[0]' type='checkbox' value='正确'></input>"+
				"<input class='check' style='display:none;' name='subjectDto["+ i +"].options[1]' type='checkbox' value='错误'></input>");
	    $("[name='subjectDto["+ t +"].options[0]']").bind('input propertychange', function() {
	    	console.log(document.getElementById("A"+ t +""));
	    	document.getElementById("A"+ t +"").disabled=false;
	    });
	    $("[name='subjectDto["+ t +"].options[1]']").bind('input propertychange', function() {
	    	document.getElementById("B"+ t +"").disabled=false;
	    });
	    $("[name='subjectDto["+ t +"].options[2]']").bind('input propertychange', function() {
	    	document.getElementById("C"+ t +"").disabled=false;
	    });
	    $("[name='subjectDto["+ t +"].options[3]']").bind('input propertychange', function() {
	    	document.getElementById("D"+ t +"").disabled=false;
	    });
	    $("[name='subjectDto["+ t +"].options[0]']").blur(function () {  
	        if($(this).val()==''){
	        	document.getElementById("A"+ t +"").disabled=true;
	        }  
	    });
	    $("[name='subjectDto["+ t +"].options[1]']").blur(function () {  
	        if($(this).val()==''){
	        	document.getElementById("B"+ t +"").disabled=true;
	        }  
	    });
	    $("[name='subjectDto["+ t +"].options[2]']").blur(function () {  
	        if($(this).val()==''){
	        	document.getElementById("C"+ t +"").disabled=true;
	        }  
	    });
	    $("[name='subjectDto["+ t +"].options[3]']").blur(function () {  
	        if($(this).val()==''){
	        	document.getElementById("D"+ t +"").disabled=true;
	        }  
	    });
	  });
});
var map={"选择题":"choose", "判断题":"determine", "简答题":"analysis"}

$(document).on("change",".questions",function(){
	if($(this).val() == "判断题"){
		$("input[name='subjectDto["+ i +"].options[0]']").prop("checked", true);
		$("input[name='subjectDto["+ i +"].options[1]']").prop("checked", true);
	}
	  
	var index = $(this).data("index");
	for(var item in map){  
		var jValue=map[item];
        if(item==this.value){  //item 表示Json串中的属性，如'name'  
            //key所对应的value  
            $("#" + jValue + index).show();
        }else{
            $("#" + jValue + index).hide();
        }  
    }  
});

</script>
</html>