<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>Bootstrap 实例 - 悬停表格</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>

<table class="table table-hover table-bordered table-condensed" style='vertical-align: middle;text-align:center'>
	<thead><caption style="text-align:center">试卷列表</caption></thead>
	<a class="btn btn-default" href="#" role="button">你也可以在此添加适合自己的试卷题目</a>
	<tbody style="text-align:center">
		<tr th:each="subjects : ${subjects}">
			<th><a href="">[[${subjects?.question}]]</a></th>
		</tr>
	</tbody>
</table>

</body>
<script type="text/javascript" th:src="@{/js/jquery-3.2.1.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript">
</script>
</html>