<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>register</title>
<link rel="stylesheet" th:href="@{/css/jq22.css}">
</head>
<body>
<!-- begin -->
<div id="login">
    <div class="wrapper">
        <div class="register">
            <form th:action="@{/register}" method="post"  th:object="${registerDto}" class="container offset1 loginform">
                <div id="owl-login">
                    <div class="hand"></div>
                    <div class="hand hand-r"></div>
                    <div class="arms">
                        <div class="arm"></div>
                        <div class="arm arm-r"></div>
                    </div>
                </div>
                <div class="pad">
                    <input type="hidden" name="_csrf" value="">
                    <div class="control-group">
                        <div class="controls">
                            <label for="account" class="control-label fa fa-user"></label>
                            <input id="account" type="text" th:field="*{account}" placeholder="输入用户名" tabindex="1" autofocus="autofocus" class="form-control input-medium">
                            <span class="error" th:if="${#fields.hasErrors('account')}" th:errors="*{account}">账号已被使用</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label for="npassword" class="control-label fa fa-lock"></label>
                            <input id="npassword" type="password" th:field="*{npassword}" placeholder="输入6至16位密码" tabindex="2" class="form-control input-medium">
                            <span class="error" th:if="${#fields.hasErrors('npassword')}" th:errors="*{npassword}">输入正确的密码</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label for="cpassword" class="control-label fa fa-key"></label>
                            <input id="cpassword" type="password" th:field="*{cpassword}" placeholder="确认密码" tabindex="3" class="form-control input-medium">
                            <span class="error" th:if="${#fields.hasErrors('cpassword')}" th:errors="*{cpassword}">输入正确的密码</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label for="email" class="control-label fa fa-envelope"></label>
                            <input id="email" type="text" th:field="*{email}" placeholder="Email" tabindex="4" class="form-control input-medium">
                            <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email错误</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label for="email" class="control-label fa fa-envelope"></label>
                            <input id="regCode" type="text" name="regCode" placeholder="输入激活码" tabindex="5" class="form-control input-medium">
                            <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email错误</span>
                            <button class="btn btn-primary" id="getVerifyBtn" type="button">点击获取激活码</button>
                        </div>
                    </div>
                    
                </div>
                <div class="form-actions"><a th:href="@{/login}" tabindex="6" class="btn btn-link text-muted">Sign In</a>
                    <button type="submit" tabindex="4" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script>
    $(function() {

        $('#login #password').focus(function() {
            $('#owl-login').addClass('password');
        }).blur(function() {
            $('#owl-login').removeClass('password');
        });
    });
    </script>
</div>
<!-- end -->
</body>
</html>