<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div name="register_form">
		<form action="#" th:action="@{/register}" method="post">
			<div id="account">
				用户名：<input name="account" placeholder="Account"/><br />
			</div>
			<div id="password">
				密码：<input name="password" type="password" placeholder="Password"/><br />
			</div>
			<div id="email">
				邮箱：<input name="email" placeholder="email"/><br />
			</div>
			<div>
				<button name="submit_add" type="submit">注册</button>
				<input name="" type="reset" value="取消">
			</div>
		</form>
	</div>
</body>
</html>